html {}

body {margin: 48px; color:#000000;background:#5555FF;font-family:Calibri, Verdana}

header {color: #FFF; background-color: #0000DD;}
footer {}

h1 {text-align:center;}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

div {}

a {}

hr {}